docs/integrations/n8n-workflow.json
{
  "name": "SCAManager Issue Auto-Fix",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "path": "scamanager-issue",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {
          "rawBody": true
        }
      }
    },
    {
      "id": "2",
      "name": "HMAC 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "parameters": {
        "jsCode": "const secret = process.env.N8N_WEBHOOK_SECRET || '';\nconst header = ($input.first().headers || {})['x-scamanager-signature-256'] || '';\nconst rawBody = $input.first().json._rawBody ||\n  JSON.stringify($input.first().json);\n\nconst crypto = require('crypto');\nconst expected = 'sha256=' + crypto.createHmac('sha256', secret)\n  .update(rawBody, 'utf8').digest('hex');\n\nif (!header || header.length !== expected.length) {\n  throw new Error('HMAC verification failed');\n}\n\nconst hBuf = Buffer.from(header);\nconst eBuf = Buffer.from(expected);\nif (!crypto.timingSafeEqual(hBuf, eBuf)) {\n  throw new Error('HMAC signature mismatch — rejecting webhook');\n}\n\nreturn $input.all();"
      }
    },
    {
      "id": "3",
      "name": "이벤트 필터",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "issue",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond2",
              "leftValue": "={{ $json.data.action }}",
              "rightValue": "opened",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "4",
      "name": "작업 변수 세팅",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [850, 200],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "repo",         "value": "={{ $json.repo }}", "type": "string" },
            { "id": "a2", "name": "issue_number", "value": "={{ $json.data.issue.number }}", "type": "string" },
            { "id": "a3", "name": "issue_title",  "value": "={{ $json.data.issue.title }}", "type": "string" },
            { "id": "a4", "name": "issue_body",   "value": "={{ $json.data.issue.body || '' }}", "type": "string" },
            { "id": "a5", "name": "work_key",     "value": "={{ $json.repo + '#' + $json.data.issue.number }}", "type": "string" },
            { "id": "a6", "name": "repo_token",   "value": "={{ $json.data.repo_token || '' }}", "type": "string" }
          ]
        }
      }
    },
    {
      "id": "5",
      "name": "세마포어 락",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200],
      "parameters": {
        "jsCode": "const key = $json.work_key;\nconst store = $getWorkflowStaticData('node');\nconst TTL_MS = 20 * 60 * 1000;\n\nif (store[key] && Date.now() - store[key] < TTL_MS) {\n  return [];\n}\n\nstore[key] = Date.now();\nreturn $input.all();"
      }
    },
    {
      "id": "6",
      "name": "Execute claude_fix.sh",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1250, 200],
      "parameters": {
        "command": "REPO={{ $json.repo }} ISSUE_NUMBER={{ $json.issue_number }} ISSUE_TITLE={{ $json.issue_title }} ISSUE_BODY={{ $json.issue_body }} GH_TOKEN={{ $json.repo_token }} ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY} /opt/claude-runner/claude_fix.sh"
      }
    },
    {
      "id": "7",
      "name": "Exit Code 분기",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1450, 200],
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "conditions": {
                "conditions": [{ "leftValue": "={{ $json.exitCode }}", "rightValue": "0", "operator": { "type": "string", "operation": "equals" } }]
              },
              "outputKey": "0"
            },
            {
              "conditions": {
                "conditions": [{ "leftValue": "={{ $json.exitCode }}", "rightValue": "1", "operator": { "type": "string", "operation": "equals" } }]
              },
              "outputKey": "1"
            },
            {
              "conditions": {
                "conditions": [{ "leftValue": "={{ $json.exitCode }}", "rightValue": "2", "operator": { "type": "string", "operation": "equals" } }]
              },
              "outputKey": "2"
            },
            {
              "conditions": {
                "conditions": [{ "leftValue": "={{ $json.exitCode }}", "rightValue": "3", "operator": { "type": "string", "operation": "equals" } }]
              },
              "outputKey": "3"
            }
          ]
        },
        "fallbackOutput": "none"
      }
    },
    {
      "id": "8",
      "name": "GitHub Issue Comment",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1650, 300],
      "parameters": {
        "operation": "createComment",
        "repository": "={{ $('작업 변수 세팅').item.json.repo.split('/')[1] }}",
        "owner":      "={{ $('작업 변수 세팅').item.json.repo.split('/')[0] }}",
        "issueNumber": "={{ $('작업 변수 세팅').item.json.issue_number }}",
        "body":        "={{ $json.stdout || '자동 처리 결과를 확인하세요.' }}"
      }
    },
    {
      "id": "9",
      "name": "Telegram 알림",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1650, 450],
      "parameters": {
        "chatId":    "={{ $env.TELEGRAM_CHAT_ID }}",
        "text":      "={{ '❌ Issue #' + $('작업 변수 세팅').item.json.issue_number + ' 처리 실패\\nRepo: ' + $('작업 변수 세팅').item.json.repo + '\\nExit: ' + $json.exitCode }}",
        "parseMode": "Markdown"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "HMAC 검증", "type": "main", "index": 0 }]]
    },
    "HMAC 검증": {
      "main": [[{ "node": "이벤트 필터", "type": "main", "index": 0 }]]
    },
    "이벤트 필터": {
      "main": [
        [{ "node": "작업 변수 세팅", "type": "main", "index": 0 }],
        []
      ]
    },
    "작업 변수 세팅": {
      "main": [[{ "node": "세마포어 락", "type": "main", "index": 0 }]]
    },
    "세마포어 락": {
      "main": [[{ "node": "Execute claude_fix.sh", "type": "main", "index": 0 }]]
    },
    "Execute claude_fix.sh": {
      "main": [[{ "node": "Exit Code 분기", "type": "main", "index": 0 }]]
    },
    "Exit Code 분기": {
      "main": [
        [],
        [{ "node": "GitHub Issue Comment", "type": "main", "index": 0 }],
        [{ "node": "GitHub Issue Comment", "type": "main", "index": 0 }, { "node": "Telegram 알림", "type": "main", "index": 0 }],
        [{ "node": "GitHub Issue Comment", "type": "main", "index": 0 }, { "node": "Telegram 알림", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "_readme": "수정 v2: responseMode=onReceived, Switch fallbackOutput=none, 출력키 숫자형, Execute Command 인라인 env, repo_token 추가(SCAManager envelope A방안)"
}
